<% cache(['posts', @posts.maximum(:updated_at).try(:to_s, :number), @posts.count]) do %>
  <div class="swiper-container">
    <div class="swiper-wrapper">
      <% @posts.each do |post| %>
        <% cache(post) do %>
          <%= render partial: 'post', locals: {post: post} %>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>

<script type="text/javascript">
  var swiper = window.Swiper;
  swiper('.swiper-container', {
    loop: true,
    autoplay: 5000,
    keyboardControl: true,
    autoplayDisableOnInteraction: false
  });
</script>