
@import url(https://fonts.googleapis.com/css?family=Merriweather:400,700italic,700,400italic);

html {
  height: 100%;
  position: relative;
}

body {
  color: #fff;
  font-family: Merriweather, Georgia;
  font-style: italic;
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  position: relative;
  height: 100%;
  transition: background-color 0.5s;
  .content {
    height: 100%;
    width: 100%;
    position: relative;
    div {
      width: 100%;
      height: 100%;
    }
  }
  a {
    color: #fff;
    text-decoration: none;
  }
}
