.centered {
  margin: 0 auto;
  width: 70%
}

blockquote {
  text-align: center;
  color: #fff;
  .author {
    text-transform: capitalize;
  }
}
small {
  font-size: 11px;
}
.clearfix {
  display: block;
  margin-top: 20px;
  clear: both;
}
.quote {
  display: inline;
  font-weight: 700;
  font-size: 30pt;
}

@media (max-width: 680px) {
  .quote {
    display: inline;
    font-size: 18pt;
  }
  .logo {
    margin: 17px 0 10px 20px;
    width: 100%;
    text-align: center;
  }
  .slogan {
    display:none;
  }
  footer .credits {
    margin: 17px 0 10px 20px;
    float: left;
    width: 100%;
  }
}

.swiper-container {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  text-align: center;
  background: #fff;
  display: flex;
  align-items: center;
}

