@import url(https://fonts.googleapis.com/css?family=Merriweather:400,700italic,700,400italic);

html {
  height: 100%;
  position: relative;
}

body {
  color: #fff;
  font-family: Merriweather, Georgia;
  font-style: italic;
  padding: 0;
  margin: 0;
  position: relative;
  height: 100%;
  transition: background-color 0.5s;
}

.content {
  height: 100%;
  width: 100%;
  position: relative;
  div {
    width: 100%;
    height: 100%;
  }
}

a {
  color: #fff;
  text-decoration: none;
}

.centered {
  margin: 0 auto;
  width: 70%
}

blockquote {
  text-align: center;
  color: #fff;
  .author {
    text-transform: capitalize;
  }
}
small {
  font-size: 11px;
}
.clearfix {
  display: block;
  margin-top: 20px;
  clear: both;
}
.quote {
  display: inline;
  font-size: 30pt;
}

.swiper-container {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  text-align: center;
  background: #fff;
  display: flex;
  align-items: center;
}

